body{
    font-family: Arial, Helvetica, sans-serif;
}

#main-heading{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin: 10px;
    align-items: center;
}
#todo-input, #todo-date{
    font-size: 15px;
    padding: 10px 5px;
}

.btn-todo{
background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
    cursor: pointer;
}
.btn-delete{
    background-color: rgb(94, 22, 22);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
    cursor: pointer;
}